{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} <!-- 기본세팅으로 CsrfToken 설정 -->
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary">
                저장
            </button>
        {% endbuttons %}
{#        <table>#}
{#            {{ form }}#}
{#        </table>#}
{#        <input type="submit" value="save"/>#}
    </form>
    <hr>
    {% if post %}
        <a href="{{ form.instance.get_absolute_url }}" class="btn btn-success">내용으로</a>
    {% endif %}
    <a href="{% url "instagram:post_list" %}" class="btn btn-danger">목록</a>
{% endblock %}
